<strong>Olá, {{ student }} </strong>
<p>Sua matrícula foi efetuada com sucesso! Confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data Início: </strong> {{ start_date }} <br />
  <strong>Data Término: </strong> {{ end_date }} <br />
  <strong>Valor total: </strong> {{ price }} <br />
</p>
<p>Muito obrigado!</p>
